/* fallback */
@font-face {
  font-family: 'Mosk';
  font-style: normal;
  font-weight: 100;
  src: url('Mosk Thin 100.ttf') format('truetype');
}

@font-face {
  font-family: 'Mosk';
  font-style: normal;
  font-weight: 200;
  src: url('Mosk Extra-Light 200.ttf') format('truetype');
}

@font-face {
  font-family: 'Mosk';
  font-style: normal;
  font-weight: 300;
  src: url('Mosk Light 300.ttf') format('truetype');
}

@font-face {
  font-family: 'Mosk';
  font-style: normal;
  font-weight: 400;
  src: url('Mosk Normal 400.ttf') format('truetype');
}

@font-face {
  font-family: 'Mosk';
  font-style: normal;
  font-weight: 500;
  src: url('Mosk Medium 500.ttf') format('truetype');
}

@font-face {
  font-family: 'Mosk';
  font-style: normal;
  font-weight: 600;
  src: url('Mosk Semi-Bold 600.ttf') format('truetype');
}

@font-face {
  font-family: 'Mosk';
  font-style: normal;
  font-weight: 700;
  src: url('Mosk Bold 700.ttf') format('truetype');
}

@font-face {
  font-family: 'Mosk';
  font-style: normal;
  font-weight: 800;
  src: url('Mosk Extra-Bold 800.ttf') format('truetype');
}

@font-face {
  font-family: 'Mosk';
  font-style: normal;
  font-weight: 900;
  src: url('Mosk Ultra-Bold 900.ttf') format('truetype');
}