<div class='form-search animated fadeIn' *ngIf="todos.length > 0">
    <ul class='list'>
        <li *ngFor="let todo of todos" class='animated fadeIn'>
            <item-widget [todos]="todo"></item-widget>
        </li>
    </ul>
</div>
