<div class='main frame'>
    <div id='logo' class='animated fadeInDown'>
        <h1>Todo Aps</h1>
        <span>Lorem ipsum dolor sim amet</span>
    </div>
    <search-widget (add)="onAddTodo($event)"></search-widget>
    <list-widget [todos]="todos"></list-widget>
</div>
