<div class='form-search animated fadeInDown'>
    <!-- <form (submit)='onSubmit(form)' #form='ngForm'>
        <input id='add-todo' name='input' [(ngModel)]='input' placeholder='Add todo'/>
        <label for='add-todo' class="material-icons">add_alert</label>
    </form> -->
    <form [formGroup]='form' novalidate (ngSubmit)="onSubmit(form.value, form.valid)">
        <input type='text' id='add-todo' autocomplete="off" formControlName='message'placeholder='Add todo'/>
        <label for='add-todo' class="material-icons">add_alert</label>
        <small [hidden]='form.controls.message.valid || (form.controls.message.pristine)' class='danger'>
            Message is required (minimum 5 char)
        </small>
    </form>
</div>
