body {
    background-color: rgba(0,0,0,0.04);
    background-image: url('../assets/images/background/watermark.png');

    .main.frame {
        position: absolute;
        text-align: center;
        top: 50%;
        height: calc(100% - 70px);
        left: 50%;
        transform: translate(-50%,-50%);

        #logo {
            margin-bottom: 20px;

            h1 {
                font-family: mosk;
                letter-spacing: 1px;
                font-weight: 100;
                margin: 0;
                color: #69acec;
                text-shadow: 0 1px 0 #fff;
            }

            span {
                font-family: mosk;
                letter-spacing: 1px;
                font-weight: 100;
                font-style: italic;
                color: #c0c0c0;
                text-shadow: 0 1px 0 #fff;
            }
        }
    }
}

.form-search {
    position: relative;
    width: 250px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);

    input {
        position: relative;
        font-family: roboto;
        font-weight: 300;
        font-size: 15px;
        text-shadow: 0 1px 0 #fff;
        letter-spacing: 1px;
        color: #c0c0c0;
        border: 1px solid rgba(0,0,0,0.05);
        background: rgba(0,0,0,0.05);
        border-radius: 5px;
        outline: 0;
        padding: 10px 30px 10px 10px;
        width: calc(100%);
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.5);
        box-sizing: border-box;


        &::selection {
            background : rgba(105, 172, 236, 0.9);
            color : #fff;
            text-shadow : 0px 0px 0px #fff;
        }

        &::-moz-selection {
            background : rgba(105, 172, 236, 0.9);
            color : #fff;
            text-shadow : 0px 0px 0px #fff;
        }
    }

    label {
        position: absolute;
        top: 19px;
        right: 15px;
        color: #c0c0c0;
        text-shadow: 0 1px 0 #fff;
    }
}

::-webkit-input-placeholder {
    color: #d6d6d6;
}

::-moz-placeholder {
    color: #d6d6d6;
}

:-ms-input-placeholder {
    color: #d6d6d6;
}

:-moz-placeholder {
    color: #d6d6d6;
}

::selection {
    background : rgba(105, 172, 236, 0.9);
    color : #fff;
    text-shadow : 0px 0px 0px #fff;
}

::-moz-selection {
    background : rgba(105, 172, 236, 0.9);
    color : #fff;
    text-shadow : 0px 0px 0px #fff;
}
